*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body{
    overflow-x: hidden;
    /* background-color: black; */
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/7968847f-3da9-44b3-8bbb-13a46579881f/web/IN-en-20250609-TRIFECTA-perspective_32b70b51-20d4-46db-8a1a-3d5428be5f0e_large.jpg');
    background-size: cover;
    background-position: center center;
}

.black{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    width: 81vw;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
    height: 6vh;
}

.logo{
    fill: red;
    width: 150px;
}

.button{
    display: flex;
    margin-bottom: 5px;
}

.button > :nth-child(1){
    width: 124px;
    height: 32px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 5px;
    color: white;
    margin-right: 13px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button > :nth-child(2){
    background-color: red;
    color: white;
    width: 76px;
    height: 32px;
    border: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 94vh;
    width: 39vw;
}

.main > :nth-child(1){
    font-size: 56px;
    font-weight: 900;
}

.main > :nth-child(2){
    font-size: 20px;
    font-weight: 500;
}

.main > :nth-child(3){
    font-size: 16px;
    font-weight: 400;
}